@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  width: 1280px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  color: red;
}

.page-header {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.header-logo {
  margin-right: 30px;
}

.header-nav-list {
  display: flex;
  min-width: 500px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.header-nav-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-underline-position: under;
}

.header-add-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.header-add-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 22px 12px;
}

.header-add-item:last-child {
  margin-right: 20px;
}

.favorites-number {
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #ffffff;
}

.registration-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
}

.main-index {
  flex-grow: 1;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.hero {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  margin-bottom: 69px;
  padding: 51px 371px 82px;
}

.advantages-promo {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-promo-description {
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-dark {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
}

.advantages-list h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 62px;
}

.advantages-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-item-light {
  width: 230px;
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  padding: 112.5px 85px;
}

.advantages-item-medium {
  width: 230px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  padding: 112.5px 85px;
}

.advantages-item-dark:last-child {
  margin-bottom: 64px;
}

.offer-promo {
  margin: 0;
  margin-bottom: 20px;
}

.offer-promo-description {
  margin: 0;
  margin-bottom: 64px;
}

.offer-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: 96px;
  padding: 0;
}

.offer-item-medium {
  width: 230px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.offer-item-medium:first-child {
  background-image: url(../images/advantages/advantages-house.svg);
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.offer-title {
  margin-top: 102px;
  margin-bottom: 30px;
}

.offer-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.offer-item-light {
  width: 230px;
  padding: 81px 85px;
  background-image: url(../images/advantages/advantages-food.svg);
  background-repeat: no-repeat;
  background-position: center top 82px;
}

.offer-item-medium:last-child {
  background-image: url(../images/advantages/advantages-souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center top 79px;
}

.search-promo {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.search-promo-description {
  margin: 0;
  margin-bottom: 54px;
}

.button-search-hotel {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 96px;
  padding: 8px 50px;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 96px 258px 104px;
}

.subscribe-promo {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
}

.form-subscribe {
  display: flex;
}

.input-subscribe {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #000000;
  padding: 12px 20px 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
}

.social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link-vk {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 15px;
}

.social-link-telegram {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 16px;
}

.social-link-youtube {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 18px;
}

.phone {
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  padding: 40px 0;
}

.main-inner {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.filter {
  text-align: left;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadscrumble-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadscrumble-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.hotel-filter-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-item {
  margin-right: 70px;
}

.hotel-filter-item:nth-child(2) {
  margin-right: 140px;
}

.hotel-filter-item:last-child {
  margin-right: 0;
}

.hotel-filter-group {
  border: none;
  padding: 0;
  min-width: 150px;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.infrastructure-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.infrastructure-filter-list .control-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 17.5px;
}

.hoteltype-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hoteltype-filter-list .control-input {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-bottom: 17.5px;
}

.price-list {
  display: flex;
  gap: 2px;
  width: 288px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-min {
  width: 103px;
  height: 24px;
  font-family: inherit;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px 12px 20px;
}

.price-max {
  width: 103px;
  height: 24px;
  font-family: inherit;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 12px 20px 12px 20px;
}

.button-filter-accept {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-filter-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 57.5px;
}

.catalog {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.control-select {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.viewtype-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.viewtype-item {
  padding: 11px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.hotel-item {
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-item-title {
  margin: 16px 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.moredetails {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 26px;
  border: none;
  border-radius: 4px;
}

.button-favorites-add {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 22px;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  text-decoration: none;
}

.button-favorites-remove {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-uncover {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-inner {
  background-color: #ffffff;
  padding: 96px 258px 104px;
}

.subscribe-promo-inner {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description-inner {
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}
