@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 118%;
  background-color: #f2f2f2;
  color: #333333;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 0 70px;
  text-align: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  position: absolute;
  top: 0;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  list-style-type: none;
  margin: 0;
  margin-left: 168px;
  padding: 0;
}

.header-nav-link {
  display: block;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.header-add-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.header-add-link {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 100%;
  min-width: 20px;
  min-height: 20px;
  text-decoration: none;
  color: #000000;
  padding: 20px 12px;
}

.header-add-item:last-child {
  margin-right: 20px;
}

.favorites-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  left: 20px;
  font-size: 10px;
  line-height: 100%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
}

.registration-link {
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 34px;
  border-radius: 4px;
}

.main-index {
  flex-grow: 1;
  text-align: center;
}

.hero {
  background-image: url(../images/hero-background-mask.svg), url(../images/hero-background.jpg);
  background-size: 100%, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 51px 20px 82px;
}

.advantages-promo-wrapper {
  padding: 69px 20px;
}

.advantages-promo {
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-promo-description {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-dark {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  min-height: 345px;
  padding: 20px 20px;
}

.advantages-list h3 {
  font-size: 24px;
  line-height: 117%;
  margin: 0 0 62px;
}

.advantages-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  margin: 0;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-offer-wrapper {
  padding: 64px 20px;
}

.advantages-offer {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-offer-description {
  margin: 0;
}

.advantages-offer-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offer-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  min-height: 345px;
  padding: 20px 20px;
}

.offer-item-medium {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-offer-list h3 {
  font-size: 24px;
  line-height: 117%;
  margin: 0;
  margin-bottom: 30px;
}

.offer-description {
  font-size: 18px;
  line-height: 117%;
  margin: 0;
}

.advantages-offer-list li:first-child .offer-item-wrapper::before {
  content: url(../images/advantages/advantages-house.svg);
  margin-bottom: 30px;
}

.advantages-offer-list li:nth-child(2) .offer-item-wrapper::before {
  content: url(../images/advantages/advantages-food.svg);
  margin-bottom: 30px;
}

.advantages-offer-list li:last-child .offer-item-wrapper::before {
  content: url(../images/advantages/advantages-souvenirs.svg);
  margin-bottom: 30px;
}

.search {
  padding: 96px 20px;
}

.search-promo {
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.search-promo-description {
  margin: 0;
  margin-bottom: 54px;
}

.button-search-hotel {
  font-family: inherit;
  font-size: 20px;
  line-height: 180%;
  background-color: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 375px;
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 20px;
}

.subscribe-promo {
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
}

.form-subscribe {
  display: flex;
}

.input-subscribe {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 133%;
  background-color: #F2F2F2;
  color: #000000;
  padding: 12px 20px 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 180%;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  padding: 0 70px;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 13px;
}

.phone {
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  padding: 40px 40px;
}

.copyright {
  padding: 45px 10px 35px;
}

.copyright:after {
  content: url("../images/footer-logo.svg");
}

.main-inner {
  flex-grow: 1;
  text-align: center;
}

.filter {
  text-align: left;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 130%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadscrumble-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadscrumble-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  color: #ffffff;
}

.hotel-filter-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-item {
  margin-right: 70px;
}

.hotel-filter-item:nth-child(2) {
  margin-right: 140px;
}

.hotel-filter-item:last-child {
  margin-right: 0;
}

.hotel-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 151px;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.infrastructure-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 128%;
  color: #ffffff;
}

.infrastructure-filter-list .control-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 17.5px;
}

.hoteltype-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hoteltype-filter-list .control-input {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-bottom: 17.5px;
}

.price-list {
  display: flex;
  gap: 2px;
  width: 288px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-min {
  width: 103px;
  height: 24px;
  font-family: inherit;
  margin: 0;
  font-size: 18px;
  line-height: 133%;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px 12px 20px;
}

.price-max {
  width: 103px;
  height: 24px;
  font-family: inherit;
  margin: 0;
  font-size: 18px;
  line-height: 133%;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 12px 20px 12px 20px;
}

.button-filter-accept {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.button-filter-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 57.5px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.control-select {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
}

.viewtype-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.viewtype-item {
  display: block;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 9px 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.hotel-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.hotel-image {
  margin-bottom: 16px;
}

.hotel-link {
  font-size: 24px;
  line-height: 117%;
  color: #000000;
  text-decoration: none;
}

.hotel-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 117%;
}

.hotel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  margin: 0;
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  margin: 0;
}

.moredetails {
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 26px;
  border: none;
  border-radius: 4px;
}

.button-favorites-add {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
}

.button-favorites-remove {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  background-color: #7DB54F;
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
}

p.rating-star {
  margin: 0;
}

.rating {
  display: block;
  min-width: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  padding: 9px 22px;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  text-decoration: none;
}

.hotel-item:first-child .rating-star::after {
  content: url(../images/icons/stars-four.svg);
}

.hotel-item:nth-child(2) .rating-star::after {
  content: url(../images/icons/stars-four.svg);
}

.hotel-item:nth-child(3) .rating-star::after {
  content: url(../images/icons/stars-three.svg);
}

.hotel-item:last-child .rating-star::after {
  content: url(../images/icons/stars-two.svg);
}

.pagination-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  line-height: 180%;
  align-items: center;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-uncover {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 375px;
  background-color: #ffffff;
  padding: 20px;
}

.subscribe-promo-inner {
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description-inner {
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}
